In [1]:
import pickle
import pandas as pd

## Packages

## Dependencies

In [2]:
train = pd.read_csv('../../assets/data/splits/train/preprocessed.csv')

## Functions and Assets

## CountVectorizer

In [3]:
from sklearn.feature_extraction.text import CountVectorizer

stop_words = ["da", "meu", "em", "voce", "de", "ao", "os", "cento"]

cv_vec = CountVectorizer(ngram_range=(1, 1), token_pattern=r'\b[a-zA-Z]{3}[a-zA-Z0-9]{3,}\b', max_df=0.5, min_df=2, stop_words=stop_words)
X_train_cv = cv_vec.fit_transform(train['title']).toarray()

X_train_names_cv = pd.DataFrame(X_train_cv, columns=cv_vec.get_feature_names_out())
X_train_names_cv

,abaixo,abandonar,abastecer,abastecimento,abater,abdalla,abecip,abegas,aberta,abertas,...,westwing,wework,whatsapp,wilson,wirecard,xangai,xiaomi,xpbr31,yields,zuckerberg
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14404,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14405,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14406,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14407,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14408,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
import numpy as np
X_train_cv_vis = X_train_names_cv.copy()
X_train_cv_vis = X_train_cv_vis.iloc[8:10]
X_train_cv_vis = X_train_cv_vis.replace(0, np.nan).dropna(axis=1, how='all')
X_train_cv_vis = X_train_cv_vis.replace(np.nan, 0)
X_train_cv_vis.astype(int)

,alckmin,aprova,campos,cessao,comeca,fortalecimento,mercado,participacao,petrobras,petroleo,precificar
8,0,1,1,1,0,0,0,1,1,1,0
9,1,0,0,0,1,1,1,0,0,0,1

## TFIDF Vectorizer

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer

stop_words = ["da", "meu", "em", "voce", "de", "ao", "os", "cento"]

tfidf_vec = TfidfVectorizer(ngram_range=(1, 1), token_pattern=r'\b[a-zA-Z]{3}[a-zA-Z0-9]{3,}\b', max_df=0.5, min_df=2,stop_words=stop_words)
X_train_tfidf = tfidf_vec.fit_transform(train['title']).toarray()

X_train_names_tfidf = pd.DataFrame(X_train_tfidf, columns=tfidf_vec.get_feature_names_out())
X_train_names_tfidf
# X_val_tfidf = cv_vec.transform(val['title']).toarray()

,abaixo,abandonar,abastecer,abastecimento,abater,abdalla,abecip,abegas,aberta,abertas,...,westwing,wework,whatsapp,wilson,wirecard,xangai,xiaomi,xpbr31,yields,zuckerberg
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14404,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14405,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14406,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14407,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14408,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
import numpy as np
X_train_tfidf_vis = X_train_names_tfidf.copy()
X_train_tfidf_vis = X_train_tfidf_vis.iloc[8:10]
X_train_tfidf_vis = X_train_tfidf_vis.replace(0, np.nan).dropna(axis=1, how='all')
X_train_tfidf_vis = X_train_tfidf_vis.replace(np.nan, 0)
X_train_tfidf_vis

,alckmin,aprova,campos,cessao,comeca,fortalecimento,mercado,participacao,petrobras,petroleo,precificar
8,0.000000,0.415057,0.477482,0.485977,0.000000,0.000000,0.000000,0.429965,0.20054,0.372127,0.000000
9,0.483356,0.000000,0.000000,0.000000,0.405709,0.502202,0.260378,0.000000,0.00000,0.000000,0.530814

## Output

In [7]:
with open('../../assets/trad_assets/cv_vec.pkl', 'wb') as fout:
    pickle.dump(cv_vec, fout)

In [8]:
with open('../../assets/trad_assets/tfidf_vec.pkl', 'wb') as fout:
    pickle.dump(tfidf_vec, fout)