In [1]:
import pickle
import pandas as pd

## Packages

## Dependencies

In [77]:
train = pd.read_csv('../../assets/data/splits/train/preprocessed.csv')

## Functions and Assets

## CountVectorizer

In [78]:
from sklearn.feature_extraction.text import CountVectorizer

stop_words = ["da", "meu", "em", "voce", "de", "ao", "os", "cento"]

cv_vec = CountVectorizer(ngram_range=(1, 1), token_pattern=r'\b[a-zA-Z]{3}[a-zA-Z0-9]{3,}\b', max_df=0.5, min_df=2, stop_words=stop_words)
X_train_cv = cv_vec.fit_transform(train['title']).toarray()

X_train_names_cv = pd.DataFrame(X_train_cv, columns=cv_vec.get_feature_names_out())
X_train_names_cv

,abaixo,abandona,abastecer,abastecimento,abegas,aberta,abertas,aberto,abertura,abicom,...,wework,whatsapp,whatscall,wilson,wirecard,xangai,xpbr31,xpipespe,yields,zuckerberg
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14404,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14405,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14406,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14407,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14408,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## TFIDF Vectorizer

In [79]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vec = TfidfVectorizer(ngram_range=(1, 1), token_pattern=r'\b[a-zA-Z]{3}[a-zA-Z0-9]{3,}\b', max_df=0.5, min_df=2,stop_words=stop_words)
X_train_tfidf = tfidf_vec.fit_transform(train['title']).toarray()

X_train_names_tfidf = pd.DataFrame(X_train_tfidf, columns=tfidf_vec.get_feature_names_out())
X_train_names_tfidf
# X_val_tfidf = cv_vec.transform(val['title']).toarray()

,abaixo,abandona,abastecer,abastecimento,abegas,aberta,abertas,aberto,abertura,abicom,...,wework,whatsapp,whatscall,wilson,wirecard,xangai,xpbr31,xpipespe,yields,zuckerberg
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14404,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14405,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14406,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14407,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14408,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Output

In [80]:
# X_train_names_cv.to_csv('../../assets/data/splits/train/bow_cv.csv', index=False)
# X_val_names_cv.to_csv('../../assets/data/splits/val/bow_cv.csv', index=False)
#
# X_train_names_tfidf.to_csv('../../assets/data/splits/train/bow_tfidf.csv', index=False)
# X_val_names_tfidf.to_csv('../../assets/data/splits/val/bow_tfidf.csv', index=False)

In [81]:
with open('../../assets/traditional_assets/cv_vec.pkl', 'wb') as fout:
    pickle.dump(cv_vec, fout)

In [82]:
with open('../../assets/traditional_assets/tfidf_vec.pkl', 'wb') as fout:
    pickle.dump(tfidf_vec, fout)