In [19]:
import json
import pickle
import pandas as pd

## Packages

## Dependencies

In [20]:
train = pd.read_csv('../../assets/data/splits/train/preprocessed.csv')
val = pd.read_csv('../../assets/data/splits/val/preprocessed.csv')


# X_train and X_val will be created later...

## Functions

## CountVectorizer

In [21]:
from sklearn.feature_extraction.text import CountVectorizer

cv_vec = CountVectorizer(ngram_range=(1, 1))
X_train_cv = cv_vec.fit_transform(train['title']).toarray()
# X_val_cv = cv_vec.transform(val['title']).toarray()

### Visualization

In [22]:
X_train_names_cv = pd.DataFrame(X_train_cv, columns=cv_vec.get_feature_names_out())
# X_val_names_cv = pd.DataFrame(X_val_cv, columns=cv_vec.get_feature_names_out())
X_train_names_cv

,014cota,015l,033litro,100g,10h30,10x,110mil,13barril,13bi,14h,...,zero,zetta,zhoushan,ziviani,zombou,zona,zoom,zoox,zuckerberg,zup
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14404,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14405,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14406,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14407,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14408,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## TFIDF Vectorizer

### Training

In [23]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vec = TfidfVectorizer(ngram_range=(1, 1))
X_train_tfidf = tfidf_vec.fit_transform(train['title']).toarray()
# X_val_tfidf = cv_vec.transform(val['title']).toarray()

### Visualization

In [24]:
X_train_names_tfidf = pd.DataFrame(X_train_tfidf, columns=cv_vec.get_feature_names_out())
# X_val_names_tfidf = pd.DataFrame(X_val_tfidf, columns=cv_vec.get_feature_names_out())

X_train_names_tfidf

,014cota,015l,033litro,100g,10h30,10x,110mil,13barril,13bi,14h,...,zero,zetta,zhoushan,ziviani,zombou,zona,zoom,zoox,zuckerberg,zup
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14404,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14405,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14406,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14407,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14408,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Output

In [25]:
# X_train_names_cv.to_csv('../../assets/data/splits/train/bow_cv.csv', index=False)
# X_val_names_cv.to_csv('../../assets/data/splits/val/bow_cv.csv', index=False)
#
# X_train_names_tfidf.to_csv('../../assets/data/splits/train/bow_tfidf.csv', index=False)
# X_val_names_tfidf.to_csv('../../assets/data/splits/val/bow_tfidf.csv', index=False)

In [28]:
with open('../../assets/traditional_assets/cv_vec.pkl', 'wb') as fout:
    pickle.dump(cv_vec, fout)

In [29]:
with open('../../assets/traditional_assets/tfidf_vec.pkl', 'wb') as fout:
    pickle.dump(tfidf_vec, fout)